html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
  

body {
    font-family: "Arial", "Sans-Serif";
    font-size: 13px;

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#top-nav {
  display:flex;
  justify-content: space-between;
  
}

li {
    list-style-type: none;
}

#logo {
    padding: 0px 28px 0px 30px;
    width: 90px;
    height: 32px;
    cursor: pointer;
}

#top-nav-left {
    display: flex;
    margin-top: 34px;
}

.searchbar {
    border-radius: 24px;
    border:1px solid #dfe1e5;
    border-width: 1.3px;
    width: 690px;
  
}

#searchbar-icons {
    width: 80px;
    display: flex;
    justify-content: space-around;
    position: relative;
    right: 90px;
    top: 10px;

}

input[type=text] {
    outline:none;
    border: none;
    font-size: 16px;
    width: 360px;
    height: 35px;
    position: relative;
    left: 30px;
}

#mic {
    height: 20px;
    width:14px;
    padding-left: 15px;
    border-left: 1px solid #dfe1e5;
}

#mag {
    height: 27px;
    width: 20px;
    position: relative;
    bottom: 3px;

}

#mag, #mic {
    cursor: pointer;

}

#top-nav-right {
   display: flex;
   margin-top: 34px;
}

.squares {
    position: relative;
    top: 4px;
    opacity: 65%;
    cursor: pointer;
}

.sign-in {
    background: #1a73e8;
    min-width: 96px;
    padding: 9px 23px;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    color: #fff;
    cursor: pointer;
    margin-left: 14px;
}


#ltnav {
    text-align: left;
}

.lt-mid-all {
   display: inline;
   border-bottom: 3px solid #1a73e8;
   padding-bottom: 15px;
   color: #1a73e8;
   cursor: pointer;
}

.lt-mid, .lt-right {
    display: inline;
    color: #5f6368;
    cursor: pointer;

}

#searchbar-nav {
    word-spacing: 35px;
    padding: 25px 0px 17px 160px;
    border-bottom: 1px solid #ebebeb;
}

.lt-right {
    position: relative;
    left: 100px;
}


.searchbar:hover {
    border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}
    

input[type=submit]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}


#search-results {
    width: 600px;
    margin: 20px auto auto 160px;
    color: #70757A;
    font-size: 14px;
    line-height: 1.6;
}

#search-heading {
    font-size:20px;
}

.web-url , .web-url2{
    display: inline;

}

.web-url {
    color: #202124;
}

#also-search-for-box {
    width: 600px;
    display: flex;
    line-height: 1.7;
    margin: 7px;
    border:1px solid #dadce0;
    border-width: 1.3px;
    border-radius: 8px;
    padding: 12px 15px 4px 15px;
}

.also-box-right {
    position: relative;
    left: 14px;
    top:23.5px;
}


