html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: "Arial", "Sans-Serif";
    font-size: 13px;

}

ul {
    list-style-type: none;
    margin: 22px 0 0 0;
}

li {
    display: inline;
}

.t-left {
 float: left;
 padding-left: 21px;
 opacity: 0.75;
 display: inline-block;

}

.searchbar {
    text-align: center;
    border-radius: 24px;
    border:1px solid #dfe1e5;
    border-width: 1.3px;
    width: 690px;
    margin: 0 auto;

}

input[type=text] {
    outline:none;
    border: none;
    font-size: 16px;
    width: 360px;
    height: 35px;
}

.t-right {
    float: right;
    padding-right: 21px;
    opacity: 0.75;
    position: relative;
    bottom: 35px;
    display: inline-block;


}

.sign-in {
    background: #1a73e8;
    margin: 11px 4px;
    min-width: 96px;
    padding: 9px 23px;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    height: 36px;
    color: #fff;
    margin-top: 0px;
    cursor: pointer;
}

.center {
    text-align: center;
    position: relative;
    top: 158px;
}

#logo {
    width: 90px;
    height: 32px;

}

.icons {
    position: relative;
    bottom: 32px;
    pointer-events: none;
}

#icon-l {
    height: 20x;
    width:20px;
    position: relative;
    right: 197px;
    opacity: 45%;

}

#icon-r {
height: 21px;
width: 14px;
position: relative;
left: 192px;

}


.searchbar:hover {
    border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}
    

input[type=submit]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.bottom-nav {
    position:absolute;
    bottom: 0px;
    width: 100%;
    background: #f2f2f2;
    font-size: 14px;
    color: #5f6368;
    border-top: 0.5px solid  #dfe1e5;

}

.bnav-divider {
    line-height: 40px;
    
}

p {
    padding-left: 27px;
    position: relative;
    top: 10px;

}

.b-left {
    padding-left: 27px;


}

.b-right {
    float: right;
    padding-right: 27px;
    
}